@font-face {
  font-family: IntegralBoldOblique;
  src: url(/Assets/fonts/IntegralCF-ExtraBoldOblique.woff2);
}

@font-face {
  font-family: IntegralMedium;
  src: url(/Assets/fonts/IntegralCF-Medium.woff2);
}

body {
  background: #141414;
  color: white;
  overflow-x: hidden;
  cursor: none;
}

h1 {
  font-family: IntegralBoldOblique;
  font-size: 10vw;
  text-align: center;
  margin: 150px 0 0 0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

li {
  font-family: IntegralMedium;
  list-style-type: none;
}

a {
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 8px;
  color: white;
  overflow: hidden;
  transition: 0.5s;
  cursor: none;
}



a:hover {
  color: black;
  background: #ff2400;
  box-shadow: 0 0 10px #ff2400, 0 0 40px #ff2400, 0 0 80px #ff2400;
}

.mouse {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 150px;
  pointer-events: none;
  mix-blend-mode: difference;
}

#mouseMove1{
  height: 15px;
  width: 15px;
  background:  #ff2400;
}
#mouseMove2{
  height: 25px;
  width: 25px;
  background: white;
  transition: 0.09s ease;
}
#mouseMove3{
  height: 25px;
  width: 25px;
  background:  rgb(61, 61, 61);
  transition: 0.12s ease;
}

.musicContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  margin-top: 150px;
  text-align: justify;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  /* padding: 20px; */
}

.intro  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  font-family: IntegralMedium;
  text-align: center;
  width: 50vw;
  
}