/*-------------------- PAGE ESSENTIALS ---------------------*/

@font-face {
  font-family: IntegralBoldOblique;
  src: url(/Assets/fonts/IntegralCF-ExtraBoldOblique.woff2);
}

@font-face {
  font-family: IntegralMedium;
  src: url(/Assets/fonts/IntegralCF-Medium.woff2);
}

html{
  scroll-behavior: smooth;
}

body {
  background: #141414;
  color: white;
  overflow-x: hidden;
  cursor: none;
  font-family: IntegralMedium;
}

header{
  position: sticky;
  padding: 2px;
  background-color: #141414b7;
  top: 0;
}

h1 {
  font-family: IntegralBoldOblique;
  font-size: 10vw;
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 8px;
  color: white;
  overflow: hidden;
  transition: 0.5s;
  cursor: none;
}

img {
  height: 300px;
  width: 450px;
  object-fit: cover;
  object-position: top;
  
  transition: all 200ms ease-in-out;
}

/*-------------------- ACTIVE EVENT ---------------------*/

.btn:hover, .active {
  color: black;
  background: #ff2400;
  box-shadow: 0 0 10px #ff2400, 0 0 40px #ff2400, 0 0 80px #ff2400;
}

/*-------------------- MOUSE EVENT ---------------------*/

.mouse {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 150px;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 50;
}

#mouseMove1{
  height: 15px;
  width: 15px;
  background:  #ff2400;
}
#mouseMove2{
  height: 25px;
  width: 25px;
  background: white;
  transition: 0.09s ease;
}
#mouseMove3{
  height: 25px;
  width: 25px;
  background:  rgb(61, 61, 61);
  transition: 0.12s ease;
}

/*-------------------- INTO SECTION ---------------------*/

.intro  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  text-align: center;
  width: 50vw;
  height: 90vh;
}

.intro>p {
  text-align: justify;
  width: 100%;
}

/*-------------------- MUSIC SECTION ---------------------*/

.musicStuff {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.musicContainer{
  margin-top: 100px;
}

#music{
  margin-top: 100px;
  height: 100vh;
}

.videoDiv{
  z-index: -1;
  width: 100vw; 
  height: 100vh; 
  position: relative;
}

.videoMessage{
  position: absolute; top: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
}

#myVideo {
  height: 100vh;
  margin: auto; 
  display: block;
  right: 0;
  bottom: 0;
}

/*-------------------- ARTWORK SECTION ---------------------*/

.wrapper {
  position: relative;
  height: 300px;
  width: 600px;
  margin: 50px 0;
  
  display: flex;
  flex-direction: row;
  
  transition: all 200ms ease-in-out;
}

.image-wrapper {
  height: 300px;
  width: 450px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  
  transition: all 200ms ease-in-out;
}

.book-design-image {
  object-position: center;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 300px;
  width: 300px;
  left: 380px;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

.wrap-title {
  position: relative;
  bottom: 0;
  height: 300px;
  color: #fff;
  font-size: 45px;
  
  transition: all 200ms ease-in-out;
}

.wrapper:hover img {
  transform: scale(2);
  /*object-position: bottom;*/
}

.wrapper:hover h1 {
  bottom: 300px;
  transform: scale(.4);
}

.wrapper:hover .image-wrapper {
  width: 800px;
}

.art-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-------------------- BIO SECTION ---------------------*/

.bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  margin-top: 150px;
  text-align: justify;
}