/*-------------------- PAGE ESSENTIALS ---------------------*/

@font-face {
  font-family: IntegralBoldOblique;
  src: url(/Assets/fonts/IntegralCF-ExtraBoldOblique.woff2);
}

@font-face {
  font-family: IntegralMedium;
  src: url(/Assets/fonts/IntegralCF-Medium.woff2);
}

@font-face {
  font-family: SourceCode;
  src: url(/Assets/fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
  font-family: Signature;
  src: url(/Assets/fonts/MountainSignature-9YaqZ.otf);
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #141414;
  color: white;
  overflow-x: hidden;
  cursor: none;
  font-family: IntegralMedium;
}

header{
  position: sticky;
  padding: 2px;
  background-color: #141414b7;
  top: 0;
}

h1 {
  font-family: IntegralBoldOblique;
  font-size: 10vw;
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 8px;
  color: white;
  overflow: hidden;
  transition: 0.5s;
  cursor: none;
}

section {
  max-width: 100%;
}

/*-------------------- ACTIVE EVENT ---------------------*/

.btn:hover, .active {
  color: black;
  background: #ff2400;
  box-shadow: 0 0 10px #ff2400, 0 0 40px #ff2400, 0 0 80px #ff2400;
}

/*-------------------- MOUSE EVENT ---------------------*/

.mouse {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 150px;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 50;
}

#mouseMove1{
  height: 15px;
  width: 15px;
  background:  #ff2400;
}
#mouseMove2{
  height: 25px;
  width: 25px;
  background: white;
  transition: 0.09s ease;
}
#mouseMove3{
  height: 25px;
  width: 25px;
  background:  rgb(61, 61, 61);
  transition: 0.12s ease;
}

/*-------------------- INTO SECTION ---------------------*/

.intro  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  text-align: center;
  width: 50vw;
  height: 90vh;
}

.intro>h1 {
  margin: 0;
}

.intro>p {
  text-align: justify;
  width: 100%;
}

/*-------------------- MUSIC SECTION ---------------------*/

.musicStuff {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.musicContainer{
  margin-top: 100px;
}

#music{
  margin-top: 100px;
  height: 100vh;
}

.videoDiv{
  display: flex;
  z-index: -1;
  width: 100vw; 
  height: 100vh; 
  position: relative;
}

.videoMessage{
  position: absolute; top: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
}

#myVideo {
  object-fit: cover;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto; 
  display: block;
  right: 0;
  bottom: 0;
}

/*-------------------- ARTWORK SECTION ---------------------*/

#artworks{
  padding-top: 100px;
}

#artworks>p{
  text-align: center;
  padding-bottom: 100px;
  font-size: 5rem;
}

.hell-covers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 100px;
}

.hell-covers>img{
  height: 500px;
  width: 500px;
}

.renders{
  object-fit: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.renders>img{
  overflow-x: hidden;
  width: 70%;
}


.renders2, .renders2>img{
  width: 100vw;
}

/*-------------------- WEBDESIGN SECTION ---------------------*/

#webdesign>a{
  background: #ff2400;
  color: #141414;
}

/*-------------------- BIO SECTION ---------------------*/

#bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  margin-top: 150px;
  text-align: justify;
}

#bio>p{
  font-family: SourceCode;
  font-weight: 700;
}